extends layout

block content
  h1= title
  - var items = results
  div(class="container-fluid")
     div(class="row")
     each costume in items 
        div(class="row")
           div(class="col-sm-2") #{costume.costume_type}
           div(class="col-sm-2") #{costume.size}
           div(class="col-sm-2") #{costume.cost}